# 忽略 Python 编译文件
__pycache__/
*.py[cod]
*.pyo

# 忽略 Jupyter Notebook checkpoint
.ipynb_checkpoints/

# 忽略虚拟环境
venv/
env/

# 忽略本地配置文件（如 PyCharm 的 .idea）
.idea/
.env
# 忽略日志和输出
*.log
*.out

# 忽略临时文件
*.tmp
*.swp

# 忽略模型或大文件
*.h5
*.pth
*.pt
*.ckpt

# 忽略数据
data/
